@page
@model ProductClient.Pages.ProductsModel
 
<h2 class="text-center text-primary">Products</h2>
 
@* <ul>
@foreach (var product in Model.Products)
{
   <li>@product.Name - $@product.Price</li>
}
</ul> *@

@* <div class="container-fluid">
   <div class="row g-4">
      <div class="">

      </div>
   </div>
</div> *@