@model IEnumerable<EcommerceApp.Models.Category>

<h2 class="text-center">Categories</h2>

<a asp-action="Create" class="btn btn-dark mb-2">Add Category</a>

<table class="table">
    <tr>
        <th>Name</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
        </tr>
    }
</table>