<div class="container d-flex justify-content-center align-items-center" style="height: 90vh;">

    <div class="bg-dark text-white rounded-4 p-5 shadow text-center">

        <h1 class="display-5 fw-bold mb-3">
            Welcome to Smart Health Care
        </h1>

        <p class="lead mb-4">
            Your trusted platform for managing health services, appointments, and care efficiently.
        </p>

        <a class="text-decoration-none" asp-controller="Patient" asp-action="Create" >
            <button class="btn btn-light btn-lg">Start Now</button>
        </a>

    </div>

</div>